@model IEnumerable<FoodOrderingApp.Models.Basket>
@{
    decimal totalPrice = ViewBag.TotalPrice;
    int orderId = ViewBag.orderId;
}

<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <a class="btn btn-success mb-3" href="/Order/Index" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M5.854 12.354a.5.5 0 0 1 0-.708L2.207 8l3.647-3.646a.5.5 0 1 1 .708.708L3.207 8l3.354 3.354a.5.5 0 0 1-.708.708z" />
                    <path fill-rule="evenodd" d="M3.5 8a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 0 1h-8a.5.5 0 0 1-.5-.5z" />
                </svg> Return to Order List
            </a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Dish Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var basket in Model)
                    {
                        <tr>
                            <td>@basket.DishName</td>
                            <td>@basket.Quantity</td>
                            <td>@basket.Price</td>
                            <td>@basket.CategoryName</td>
                            <td>@basket.BasketPrice</td>
                        </tr>
                    }
                </tbody>
            </table>
            <p>Total Order Amount : @totalPrice</p>
            <a class="btn btn-info" href="/Order/Export?orderId=@orderId" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-pdf" viewBox="0 0 16 16">
                    <path d="M10 0H1a1 1 0 0 0-1 1v14a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V3l-3-3zm-2.5 4.5a.5.5 0 0 1 .5-.5h1.5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H8a.5.5 0 0 1-.5-.5v-1zM7 5v1h1V5H7zm0 2v1h1V7H7zm0 2v1h1V9H7zm0 2v1h1v-1H7zm2-4h4v1h-4V7zm0 2h4v1h-4V9zm0 2h4v1h-4v-1zm0 2h2v1H9v-1zm-2 0h1v1H7v-1z" />
                </svg> Export to PDF
            </a>
        </div>
    </div>
</div>
